data frames information

In [3]:
import pandas as pd
df=pd.read_csv("/students-class2 - Sheet1.csv")
df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Student_ID      10 non-null     int64
 1   Name            10 non-null     object
 2   Gender          10 non-null     object
 3   Age             9 non-null      float64
 4   Marks_Math      9 non-null      float64
 5   Marks_English   9 non-null      float64
 6   Grade           10 non-null     object
 7   Attendance (%)  9 non-null      float64
 8   City            9 non-null      object
 9   Scholarship     10 non-null     object
dtypes: float64(4), int64(1), object(5)
memory usage: 932.0+ bytes

,Student_ID,Name,Gender,Age,Marks_Math,Marks_English,Grade,Attendance (%),City,Scholarship
0,101,Arun,Male,17.0,78.0,85.0,B,92.0,Kochi,Yes
1,102,Swathi,Female,18.0,NaN,90.0,A,88.0,Kollam,No
2,103,Rahul,Male,NaN,67.0,70.0,C,74.0,Trivandrum,No
3,104,Divya,Female,17.0,85.0,78.0,B,NaN,Kochi,Yes
4,105,Fathima,Female,18.0,91.0,NaN,A,95.0,Kozhikode,Yes
5,106,Ajay,Male,19.0,45.0,56.0,D,60.0,Kollam,No
6,107,Neeraj,Male,18.0,60.0,64.0,C,81.0,Trivandrum,Yes
7,108,Sneha,Female,17.0,88.0,82.0,A,97.0,NaN,No
8,101,Arun,Male,17.0,78.0,85.0,B,92.0,Kochi,Yes
9,101,Arun,Male,17.0,78.0,85.0,B,92.0,Kochi,Yes

checking whether the datas are duplicated and their count

In [18]:

df.duplicated().sum()

np.int64(0)

In [17]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

deleting duplicates

In [19]:
df=df.drop_duplicates()

In [20]:
df.isnull().sum()

Student_ID        0
Name              0
Gender            0
Age               1
Marks_Math        1
Marks_English     1
Grade             0
Attendance (%)    1
City              1
Scholarship       0
dtype: int64

checking null values using mean

In [21]:
df.isnull().mean()

Student_ID        0.000
Name              0.000
Gender            0.000
Age               0.125
Marks_Math        0.125
Marks_English     0.125
Grade             0.000
Attendance (%)    0.125
City              0.125
Scholarship       0.000
dtype: float64

finding null value percentage

In [22]:
df.isnull().mean()*100

Student_ID         0.0
Name               0.0
Gender             0.0
Age               12.5
Marks_Math        12.5
Marks_English     12.5
Grade              0.0
Attendance (%)    12.5
City              12.5
Scholarship        0.0
dtype: float64

deleting column

In [29]:
df=df.drop(columns='Student_ID')

In [30]:
df

,Name,Gender,Age,Marks_Math,Marks_English,Grade,Attendance (%),City,Scholarship
0,Arun,Male,17.0,78.0,85.0,B,92.0,Kochi,Yes
1,Swathi,Female,18.0,NaN,90.0,A,88.0,Kollam,No
2,Rahul,Male,NaN,67.0,70.0,C,74.0,Trivandrum,No
3,Divya,Female,17.0,85.0,78.0,B,NaN,Kochi,Yes
4,Fathima,Female,18.0,91.0,NaN,A,95.0,Kozhikode,Yes
5,Ajay,Male,19.0,45.0,56.0,D,60.0,Kollam,No
6,Neeraj,Male,18.0,60.0,64.0,C,81.0,Trivandrum,Yes
7,Sneha,Female,17.0,88.0,82.0,A,97.0,NaN,No

mean median mode
skewed if mean and median is not same
negetive skewed if
symmetric if mean and median is same

In [33]:
df.describe()

             Age  Marks_Math  Marks_English  Attendance (%)
count   7.000000    7.000000       7.000000        7.000000
mean   17.714286   73.428571      75.000000       83.857143
std     0.755929   16.860774      12.179217       13.259318
min    17.000000   45.000000      56.000000       60.000000
25%    17.000000   63.500000      67.000000       77.500000
50%    18.000000   78.000000      78.000000       88.000000
75%    18.000000   86.500000      83.500000       93.500000
max    19.000000   91.000000      90.000000       97.000000